p {
    color: #FFC425;
}

body {
    background-color: #2F241D;
}

h1 {color: #FFC425;

    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 {
    color: #FFC425;
}

ul {
    color: #FFC425;
}

a {
    color: #FFC425;
}

footer {
    color: #FFC425;
}